* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}

.mainFundraiser .rightSection {
  width: 80%;
}
.mainFundraiser .rightSection .rightpart {
  border: 1px solid #eaecf0;
  border-radius: 16px;
  margin: 6px;
}
.mainFundraiser .rightSection .rightpart .bigText {
  padding: 35px 40px 0 40px;
}
.mainFundraiser .rightSection .rightpart .fundraiserDetail {
  display: flex;
  gap: 10px;
  padding: 16px 40px 30px 40px;
}
.mainFundraiser .rightSection .rightpart .fundraiserDetail input,
.firstpersonalDetail input,
.secondpersonalDetail input,
.thirdpersonalDetail input,
.firstdonationDetail input,
.seconddonationDetail input {
  width: 450px;
  height: 40px;
  padding: 8px 12px;
  display: flex;
  gap: 8px;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px #1018280d;
  font-size: 16px;
  color: #000000;
  margin-top: 6px;
  outline: none;
}
.mainFundraiser .rightSection .rightpart .mainForm input::placeholder {
  color: #667085;
}
.mainFundraiser .rightSection .rightpart h2 {
  padding: 0 40px 0px 40px;
}
.mainFundraiser .rightSection .rightpart .firstpersonalDetail,
.secondpersonalDetail,
.thirdpersonalDetail,
.firstdonationDetail,
.seconddonationDetail {
  display: flex;
  gap: 10px;
  padding: 16px 40px 30px 40px;
}
.mainFundraiser .rightSection .rightpart .secondpersonalDetail,
.thirdpersonalDetail,
.seconddonationDetail {
  padding-top: 0;
}
.mainFundraiser .rightSection .rightpart .firstpersonalDetail input,
.secondpersonalDetail input,
.thirdpersonalDetail input,
.firstdonationDetail input,
.seconddonationDetail input {
  width: 300px;
}
.mainFundraiser .rightSection .rightpart .formButton {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0 16px;
}
.mainFundraiser .rightSection .rightpart .formButton .fundButton {
  padding: 10px 20px;
  height: 45px;
  width: 95px;
  border: 1px solid #79747e;
  border-radius: 8px;
  color: #fff;
  background-color: #010080;
  font-size: 16px;
  cursor: pointer;
}
.mainFundraiser .rightSection .rightpart .formButton .fundButton.donorButton {
  background-color: #fff;
  color: #505050;
}
.mainFundraiser .rightSection .rightpart .mainForm input#paymentdate {
  width: 170px;
  color: #667085;
}
.mainFundraiser .rightSection .rightpart .mainForm .compulsory {
  color: #ff0000;
}
