@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;

  /* margin-right: 1px;  */
}


/* circular  */
.progress-ring {
  display: block;
  margin: 20px auto;
}

.progress-ring__circle {
  stroke: #e6e6e6;
}

.progress-ring__circle--progress {
  stroke: #2ecc71;
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.progress-ring__text {
  fill: #000;
  font-size: 24px;
  font-weight: bold;
  dominant-baseline: middle;
  text-anchor: middle;
}
