* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* image for photo.js */
.photowrapper {
  width: 100%;
  display: flex;
}
.photowrapper .barmenu {
  width: 20%;
  justify-content: center;
  font-weight: bold;
}
.photowrapper .barmenu p {
  justify-items: center;
  display: flex;
  align-items: center;
}
.photowrapper .barmenu p a {
  text-decoration: none;
  border: none;
}
.photowrapper .dashboard {
  display: flex;
  justify-content: center;
}
.photowrapper .dashboard .Photos .active {
  background-color: #e6e6e6;
}
.photowrapper .dashboard img {
  display: block;
  max-width: 20px;
  margin-right: 23px;
  max-height: 18px;
}
.photowrapper .barmenu .Dashboard p img {
  max-width: 20px;
  margin-right: 20px;
  max-height: 18px;
}
.photowrapper .fungraiser p img {
  display: block;
  max-width: 20px;
  margin-right: 23px;
  max-height: 18px;
}
.photowrapper .fungraiser {
  display: flex;
  justify-content: center;
}
.photowrapper .fungraiser a {
  margin-right: 9px;
}
.photowrapper .photo p img {
  display: block;
  max-width: 20px;
  margin-right: 21px;
  max-height: 18px;
}
.photowrapper .photo {
  display: flex;
  justify-content: center;
}
.photowrapper .photo.active {
  background-color: #eaeaea;
}
.photowrapper .photo a {
  margin-right: 42px;
}
.photowrapper .report p img {
  display: block;
  max-width: 20px;
  margin-left: 42px;
  max-height: 18px;
}
.photowrapper .report {
  display: flex;
  justify-content: center;
}
.photowrapper .report a {
  margin-left: 21px;
  display: flex;
}
.photowrapper .report a b {
  margin-left: 7px;
}
.photowrapper .imgwrapper {
  width: 80%;
}
.photowrapper .imgcount {
  display: flex;
}
.photowrapper .imgcount h1 {
  display: flex;
  margin-top: 10px;
}
.photowrapper .imgcount button {
  display: inline-block;
  position: absolute;
  align-items: center;
  right: 0;
  padding: 10px;
  padding-right: 15px;
  padding-left: 20px;
  margin-right: 27px;
  color: #252988;
  background-color: #ffffff;
  border-radius: 4px;
  border: 2px solid #252988;
  cursor: pointer;
}
.photowrapper .imgcount button i {
  color: #252988;
  margin-right: 4px;
  cursor: pointer;
  background-color: #e6e6e6;
}
.photowrapper .imgcount p {
  color: #ffa64d;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 27px;
  margin-left: 22px;
}
.photowrapper .row {
  display: flex;
  width: 100%;
  overflow: hidden;
  height: fit-content;
  justify-content: space-between;
}
.photowrapper .col {
  margin: 20px;
  width: 100%;
  position: relative;
  background-color: #e6e6e6;
  max-height: 200px;
}
.photowrapper .col img {
  width: 100%;
  height: 200px;
}
.photowrapper .row .col button {
  display: flex;
  float: right;
  border: none;
  cursor: pointer;
  right: 0;
  position: absolute;
}
